Repository Huyvictory/Youtube_Clone_V2_FE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier, eslint

.lintstagedrc:

{
    "./**/*.{js,json,css,scss,md}": ["prettier --write"],
    "src/**/*.+(js,json,css,scss,md)": ["tslint"],
    "*.{ts,tsx}":["prettier", "eslint"]
}

fix: Fix content of readme file
  README.md
Due: prettier --write

refactor: add sign in and sign up page
  package-lock.json
  package.json
  src/layouts/PublicLayout.tsx
  src/pages/Auth/SignIn.tsx
  src/pages/Auth/SignUp.tsx
  src/pages/SignIn.tsx
  src/routes/publicRoutes.tsx
  src/styles_components/common/ContainerCenter.tsx
Due: prettier --write, prettier, eslint

feat: add sign in, sign up, verification email functionalities
  package-lock.json
  package.json
  src/components/ModalDialog/ModalDialog.tsx
  src/constants/index.ts
  src/contracts/auth.ts
  src/main.tsx
  src/pages/Auth/SignIn.tsx
  src/pages/Auth/SignUp.tsx
  src/pages/Auth/VerifyEmail.tsx
  src/routes/publicRoutes.tsx
  src/services/api/auth.ts
  src/services/helper/axiosHelper.ts
  src/services/helper/axiosHelperPublic.ts
  src/services/store/app.ts
  src/services/store/auth.ts
  src/services/store/index.ts
  src/utils/formValidation.tsx
  src/utils/localStorage.ts
  src/utils/notification.ts
Due: prettier --write, prettier, eslint

feat: Add forgot password functionality
  package-lock.json
  package.json
  src/pages/Auth/Forgot_Password/ForgotPassword_EmailInput.tsx
  src/pages/Auth/Forgot_Password/ForgotPassword_ResetPassword.tsx
  src/pages/Auth/Forgot_Password/ForgotPassword_ResetPasswordCode.tsx
  src/pages/Auth/Forgot_Password/index.tsx
  src/routes/forgot_password.tsx
  src/routes/publicRoutes.tsx
  src/services/api/auth.ts
  src/services/helper/axiosHelper.ts
  src/services/store/auth.ts
  src/utils/useInterval.ts
Due: prettier --write, prettier, eslint

feat: Update sign up feature
  package-lock.json
  package.json
  src/contracts/auth.ts
  src/pages/Auth/SignUp/BirthdayGenderForm.tsx
  src/pages/Auth/SignUp/SignUp.tsx
  src/pages/Auth/SignUp/index.tsx
  src/routes/publicRoutes.tsx
  vite.config.ts
Due: prettier --write, prettier, eslint

feat: Add UI for update user profile
  src/components/Navbar.tsx
  src/layouts/AppLayout.tsx
  src/pages/Profile.tsx
  src/routes/appRoutes.tsx
Due: prettier, eslint

feat: Add modal dialog form to update name, birthday, gender of user
  src/components/ModalDialog/Forms/Modal_Birthday.tsx
  src/components/ModalDialog/Forms/Modal_Gender.tsx
  src/components/ModalDialog/Forms/Modal_Name.tsx
  src/components/ModalDialog/Forms/Modal_Password.tsx
  src/components/ModalDialog/Forms/Modal_ProfilePicture.tsx
  src/components/ModalDialog/Forms/index.tsx
  src/components/ModalDialog/ModalDialog.tsx
  src/components/ModalDialog/ModalDialogForm.tsx
  src/constants/index.ts
  src/contracts/profile.ts
  src/pages/Profile.tsx
Due: prettier, eslint

feat: function change basic information and password of user and some changes in validation input function
  src/components/ModalDialog/Forms/Modal_Birthday.tsx
  src/components/ModalDialog/Forms/Modal_Gender.tsx
  src/components/ModalDialog/Forms/Modal_Name.tsx
  src/components/ModalDialog/Forms/Modal_Password.tsx
  src/components/ModalDialog/ModalDialogForm.tsx
  src/contracts/auth.ts
  src/contracts/profile.ts
  src/pages/Profile.tsx
  src/services/api/user.ts
  src/services/store/index.ts
  src/services/store/user.ts
  src/utils/formValidation.tsx
Due: prettier, eslint

feat: add preview image and video for file upload
  package-lock.json
  package.json
  src/components/ModalDialog/Forms/Modal_ProfilePicture.tsx
  src/components/ModalDialog/ModalDialogForm.tsx
  src/contracts/profile.ts
  src/pages/Profile.tsx
  src/services/api/user.ts
  src/services/store/user.ts
Due: prettier --write, prettier, eslint

feat: Update user profile
  src/components/ModalDialog/Forms/Modal_ProfilePicture.tsx
  src/components/ModalDialog/ModalDialogForm.tsx
  src/components/Navbar.tsx
  src/contracts/profile.ts
  src/layouts/AppLayout.tsx
  src/pages/Profile.tsx
  src/services/api/user.ts
  src/services/store/user.ts
Due: prettier, eslint

feat: modal to add a new video
  package-lock.json
  package.json
  src/components/Navbar.tsx
  src/components/video/ModalUploadVideo.tsx
  src/constants/Quill_RichTextEditor.ts
  src/constants/index.ts
  src/contracts/video.ts
  src/utils/localStorage.ts
Due: prettier --write, prettier, eslint

feat: Integrate API get list video categories for creating a video
  src/components/Navbar.tsx
  src/components/video/ModalUploadVideo.tsx
  src/contracts/video.ts
  src/services/api/user.ts
  src/services/api/video.ts
  src/services/store/index.ts
  src/services/store/user.ts
  src/services/store/video.ts
Due: prettier, eslint

feat: Get list of videos
  src/components/Card.tsx
  src/contracts/video.ts
  src/pages/Home.tsx
  src/services/api/video.ts
  src/services/store/video.ts
Due: prettier, eslint

feat: Show list of video categories and get video based on that
  src/pages/Home.tsx
  src/services/api/video.ts
Due: prettier, eslint

feat: Integrate Get video details by id and infinite scrolling for list of videos
  package-lock.json
  package.json
  src/components/Card.tsx
  src/components/ModalDialog/Forms/Modal_ProfilePicture.tsx
  src/contracts/video.ts
  src/css/Infinite_Scrolling.css
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Video.tsx
  src/routes/appRoutes.tsx
  src/services/api/video.ts
  src/services/store/video.ts
Due: prettier --write, prettier, eslint

feat: Add channel detail layout page
  package-lock.json
  package.json
  src/constants/index.ts
  src/layouts/AppLayout.tsx
  src/pages/ChannelDetail.tsx
  src/routes/appRoutes.tsx
Due: prettier --write, prettier, eslint

feat: Integrate API get channel details and its videos
  src/components/CardVideo_ChannelDetail.tsx
  src/contracts/channel.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/VideosChannel.tsx
  src/routes/appRoutes.tsx
  src/services/api/channel.ts
  src/services/store/channel.ts
  src/services/store/index.ts
Due: prettier, eslint

fix: fix get list videos based on selected category
  src/pages/Home.tsx
  src/services/store/video.ts
Due: prettier, eslint

feat: update a video of user channel API integration
  src/components/CardVideo_ChannelDetail.tsx
  src/components/video/ModalUpdateVideo.tsx
  src/contracts/video.ts
  src/pages/Channel/ChannelDetail.tsx
  src/services/api/video.ts
  src/services/store/video.ts
Due: prettier, eslint

feat: add feature to delete specific video of user and allow to get list of videos base on channelId
  src/components/CardVideo_ChannelDetail.tsx
  src/components/video/ModalUpdateVideo.tsx
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/VideosChannel.tsx
  src/services/api/video.ts
Due: prettier, eslint

feat: Allow user to update his/her channel banner image
  src/pages/Channel/ChannelDetail.tsx
  src/services/api/channel.ts
  src/services/store/channel.ts
  src/services/store/video.ts
Due: prettier, eslint

feat: add infinite scrolling for videos suggestion section, tab home and video of channel detail and fix ideal state when navigating different pages
  src/components/Card.tsx
  src/components/CardVideo_ChannelDetail.tsx
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/HomeChannel.tsx
  src/pages/Channel/VideosChannel.tsx
  src/pages/Home.tsx
  src/pages/Video.tsx
  src/services/store/video.ts
Due: prettier, eslint

feat: API integration for creating user own playlist and get list of playlists created by current user channel
  src/components/Playlist/ModalCreatePlaylist.tsx
  src/components/Playlist/PlaylistItem.tsx
  src/contracts/playlist.ts
  src/contracts/profile.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/PlaylistsChannel.tsx
  src/services/api/playlist.ts
  src/services/store/index.ts
  src/services/store/playlist.ts
Due: prettier, eslint

feat: UI layout for playlist detail
  src/components/Navbar.tsx
  src/pages/Channel/PlaylistDetail.tsx
  src/routes/appRoutes.tsx
Due: prettier, eslint

feat: Get playlist detail and allow user to add or delete a video in a playlist
  src/components/Playlist/PlaylistItem.tsx
  src/contracts/playlist.ts
  src/contracts/video.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/PlaylistDetail.tsx
  src/services/api/playlist.ts
  src/services/store/playlist.ts
  src/services/store/video.ts
Due: prettier, eslint

feat: Update name, description, representation image of playlist
  src/components/Playlist/Modal_Create_Update_PlaylistInformation.tsx
  src/pages/Channel/PlaylistDetail.tsx
  src/pages/Channel/PlaylistsChannel.tsx
  src/services/api/playlist.ts
  src/services/store/playlist.ts
Due: prettier, eslint

feat: Allow user to delete his/her playlist and set a video thumbnail to be representation image of playlist
  src/components/Playlist/ModalConfirm_DeletePlaylist.tsx
  src/components/Playlist/PlaylistItem.tsx
  src/contracts/playlist.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/PlaylistDetail.tsx
  src/services/api/playlist.ts
  src/services/store/playlist.ts
Due: prettier, eslint

feat: Layout UI to watch videos inside a playlist
  src/contracts/playlist.ts
  src/pages/Channel/PlaylistDetail.tsx
  src/pages/Playlist/WatchVideosPlaylist.tsx
  src/routes/appRoutes.tsx
  src/services/store/playlist.ts
Due: prettier, eslint

fix: fix some bugs in get a playlist detail screen
  src/pages/Channel/PlaylistDetail.tsx
Due: prettier, eslint

feat: allow user to add or delete video of a playlist in home page of videos
  src/components/Card.tsx
  src/components/Playlist/Modal_Add_Video_Playlists.tsx
  src/services/api/playlist.ts
  src/services/store/video.ts
Due: prettier, eslint

feat: subscribe/unsubscribe channel
  src/contracts/profile.ts
  src/pages/Video.tsx
  src/services/api/channel.ts
Due: prettier, eslint

fix: correct path name when navigate tab in channel detail and when watching videos of a playlist
  src/constants/index.ts
  src/contracts/playlist.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Playlist/WatchVideosPlaylist.tsx
Due: prettier, eslint

feat: Get list of subscribed channels API Integration and get details of other channels
  src/components/Navbar.tsx
  src/constants/index.ts
  src/contracts/user.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Channel/SubscribedChannel.tsx
  src/routes/appRoutes.tsx
  src/services/api/channel.ts
  src/services/api/user.ts
  src/services/store/user.ts
Due: prettier, eslint

feat: API Integration to get list of comments and create a new one
  src/components/Comment.tsx
  src/components/Comments.tsx
  src/contracts/comment.ts
  src/pages/Channel/ChannelDetail.tsx
  src/pages/Playlist/WatchVideosPlaylist.tsx
  src/pages/Video.tsx
  src/services/api/comment.ts
  src/services/store/channel.ts
  src/services/store/comment.ts
  src/services/store/index.ts
Due: prettier, eslint

feat: APIs Integration of updating and deleting a comment of a video
  src/components/Comment.tsx
  src/components/Comment/ModalConfirm_DeleteComment.tsx
  src/components/Comments.tsx
  src/contracts/comment.ts
  src/contracts/profile.ts
  src/services/api/comment.ts
Due: prettier, eslint

feat: Integrate APIs to like/unlike a video
  src/contracts/video.ts
  src/pages/Video.tsx
  src/services/api/video.ts
Due: prettier, eslint

feat: API integration for Sign out and integrate like/unlike a video of a playlist
  src/components/Card.tsx
  src/components/Navbar.tsx
  src/pages/Channel/PlaylistDetail.tsx
  src/pages/Playlist/WatchVideosPlaylist.tsx
  src/services/api/auth.ts
Due: prettier, eslint

feat: Endpoint integration to get list of watched videos of a user
  src/components/Card.tsx
  src/components/Menu.tsx
  src/components/Navbar.tsx
  src/constants/index.ts
  src/pages/HistoryWatchedVideos.tsx
  src/pages/Playlist/WatchVideosPlaylist.tsx
  src/routes/appRoutes.tsx
  src/services/api/video.ts
  src/services/store/video.ts
Due: prettier, eslint
